.caixasBody {
    padding: 16px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.caixa {
  display: flex;
  width: 224px;
  height: fit-content;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;

  border-radius: 8px;
  border: 1px solid var(--c7);

  &.active {
    border-top: 1px solid var(--r7);
    border-right: 2px solid var(--r7);
    border-bottom: 2px solid var(--r7);
    border-left: 1px solid var(--r7);
  }
}

.tituloCaixa {
  color: var(--r12);
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.descCaixa {
  color: var(--c10);
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.listaCaixas {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}
