@keyframes open {
  0% {
    width: 0;
    display: flex;
  }
  100% {
    width: 15em;
  }
}

@keyframes close {
  0% {
    width: 15em;
  }
  100% {
    width: 0;
    display: none;
  }
}

.secSidebar {
  display: flex;
  flex-direction: column;
  min-width: 15em;
  height: 100vh;
  padding: 1em 0.5em;
  box-shadow: 1px 0px 0px 0px var(--c3);
  user-select: none;
  gap: 0.75em;
  overflow: scroll;
  scrollbar-width: none;
  overflow-x: hidden;
}

.secSidebar.open {
  animation: open 0.5s forwards;
}

.secSidebar.close {
  animation: close 0.5s forwards;
}

.mainItems,
.secItems {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.item {
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
  align-items: center;
  border-radius: 0.5em;
  background-color: transparent;
  width: 100%;
  position: relative;
  color: var(--c12);
}

.item.add {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--r7);
}

.item.add:hover {
  background-color: var(--r7);
  color: var(--c1);

  svg {
    fill: var(--c1);
  }
}

.item.add > svg {
  fill: var(--r7);
}

.item > svg {
  fill: var(--c12);
}

.item .listName {
  font-family: Raleway;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.item:hover .badge {
  display: flex;
}

.item.active {
  background-color: var(--r7);
  color: var(--c1);
}

.item.active > svg {
  fill: var(--c1);
}

.item .badge {
  color: var(--c7);
  font-family: Raleway;
  font-size: 0.5em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  display: none;
  align-items: center;
  gap: 0.25em;
  right: 0.5em;
  top: auto;
  bottom: auto;
}

.item:hover {
  background-color: var(--r7);
  color: var(--c1);
  svg {
    fill: var(--c1);
  }
}

.divider {
  width: 100%;
  height: 1px;
  color: var(--c3);
  border-radius: 50%;
  margin: 0;
  opacity: 0.8;
}

.listas,
.categorias {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.headerItems {
  color: var(--c8);
  font-family: Raleway;
  font-size: 0.5em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

.headerItems .add {
  cursor: pointer;
}

.accordion {
  cursor: pointer;
}
