@keyframes open {
  0% {
    width: 0;
    display: flex;
  }
  100% {
    width: 240px;
  }
}

@keyframes close {
  0% {
    width: 240px;
  }
  100% {
    width: 0;
    display: none;
  }
}

.secSidebar {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100vh;
  padding: 16px 8px;
  box-shadow: 1px 0px 0px 0px var(--c3);
  user-select: none;
  gap: 12px;
  overflow: scroll;
  scrollbar-width: none;
  overflow-x: hidden;

  &.open {
    animation: open 0.5s forwards;
  }
  &.close {
    animation: close 0.5s forwards;
  }
}

.mainItems,
.secItems {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  display: flex;
  gap: 8px;
  padding: 8px;
  align-items: center;
  border-radius: 8px;
  background-color: transparent;
  width: 100%;
  position: relative;

  .listName {
    color: var(--c11);
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .badge {
    color: var(--c7);
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    right: 8px;
    top: auto;
    bottom: auto;
  }
}

.item:hover {
  background-color: var(--r1);
}

.divider {
  width: 100%;
  height: 1px;
  color: var(--c3);
  border-radius: 50%;
  margin: 0;
  opacity: 0.8;
}

.listas,
.categorias {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.headerItems {
  color: var(--c8);
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  gap: 8px;

  .add {
    cursor: pointer;
  }
}

.accordion {
  cursor: pointer;
}
