.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 1em 0.5em;
  width: fit-content;
  background-color: var(--r7);
  box-shadow: 1px 0px 0px 0px var(--c3);
}

.mainItems {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.item {
  cursor: pointer;
}

.secondaryItems {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.link svg {
  fill: var(--c1);
}

.link svg.active {
  fill: var(--a4);
}

/* Sidebar.module.css */
.settingButton {
  background-color: transparent;
  border: none;
  color: var(--r1);
  cursor: pointer;
  font-size: 16px;
  padding: 0;
}
