@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");


:root {
  
  --r12:#07001B;
  --r1:#F2E5FF;
  --r7:#511ABE;
  --c6:#8B888F;
  --c1:#F3EDFA
}
.deck {
  background: var(--c1);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  width: 100%;
  height: 100vh;
 
  margin-top: 8px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckTitle {
  width: 90%;
 
    color: var(--r12);
    font-family: 'Raleway',sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
  
  
}

.add-cards-button {
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  color: #3751ad;
  width: 30%;
}

.editDeck {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.editDeckName{
  width: 90%;
}

.remove-deck-button {
  cursor: pointer;
}

.view-deck-button {
  cursor: pointer;
}

.deck-buttons {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapperNiveis {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nivel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0 8px;
}

.nivel span {
  color: var(--c12);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.secHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 8px;
}

.cardSecTitle {
  color: var(--c12);
  font-family: 'Raleway',sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 80px;
}

.qtdCards {
  font-family: Lato;
  font-weight: 700;
}

.addCard {
  padding: 8px 16px;
  border-radius: 8px;
  color: var(--r1);
  background-color: var(--r12);
  font-family: 'Raleway',sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: #F2E5FF;
  margin-right: 15px;
}

.wrapperEstudar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 8px;
  width: 100%;
  align-items: center;
}

.qtdEstudar {
  color: var(--r12);
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btnEstudar {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--r7);
  color: var(--r1);
  font-family: 'Raleway',sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

.saveDeck {
  background-color: var(--r7);
  color: var(--r1);
  border: none;
  border-radius: 8px;
}