.footer {
  padding: 5.5em 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4em;
  background-color: var(--r11);
  color: var(--r1);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Lato;
  font-size: 1em;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.copy {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  gap: 1em;
  p {
    text-wrap: wrap;
  }
}

.social {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 1em;
  ul {
    list-style: none;
    display: flex;
    gap: 1em;
    justify-content: end;

    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.email {
  width: 100%;
  color: var(--r1);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: calc(1em + 2vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.88px;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-device-width: 627px) {
  .copy {
    max-width: 100%;
  }
}