.footer {
  padding: 90px 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 64px;
  background-color: var(--r11);
  color: var(--r1);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.36px;
  text-transform: uppercase;
}

.copy {
  max-width: 33%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 16px;
  ul {
    list-style: none;
    display: flex;
    gap: 16px;
    justify-content: end;

    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.email {
  width: 100%;
  color: var(--r1);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: calc(12px + 2vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.88px;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background: linear-gradient(
      90deg,
      rgba(242, 229, 255, 1) 0%,
      rgba(180, 105, 255, 1) 50%,
      rgba(242, 229, 255, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media only screen and (max-device-width: 627px) {
  .copy {
    max-width: 100%;
  }
}