.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em 5%;
}

.brand {
  img {
    height: 2.5em;
  }
}

.navLinks {
  display: flex;
  font-family: "Lato", sans-serif;
  font-weight: 500;

  a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em 1em;
    color: var(--r12);
    font-size: 1em;

    &:hover {
      color: var(--r7);
    }
  }
}

.buttons {
  display: flex;
  gap: 0.5em;

  a {
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 500;
    border-radius: 0.5em;
    letter-spacing: 0.42px;

    &.login {
      border: 1px solid var(--r12);
      color: var(--r12);
      transition: background-color 0.3s;

      &:hover {
        border: 1px solid transparent;
        background-color: var(--a2);
        color: var(--a12);
      }
    }

    &.cadastrar {
      background-color: var(--r7);
      color: var(--r1);
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--a4);
        color: var(--a12);
      }
    }
  }
}

@media screen and (max-width: 937px) {

  .navLinks {
    order: 2;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
    border-top: 1px solid var(--r7);
    border-bottom: 1px solid var(--r7);
  }
}
