@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.landing {
  background-color: var(--c1);
  min-width: 456px;
}

.cardsSection {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding: 5.5em 5%;
  background-color: var(--r7);
}

.card {
  min-width: calc(50px + 20vw);
  flex-grow: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 3em;
  gap: 1em;
  border-radius: 0.5em;
  background-color: var(--r1);
  color: var(--r12);
}

.card p {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 400;
  min-width: 100%;
  width: min-content;
}

.card h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 500;
}

.card .icon {
  color: var(--r3);
  font-size: 1.125em;
  width: 2.4em;
  height: 2.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--r3);
  border-radius: 50%;
}

.chamada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5.5em 5% 5.5em;
  gap: 2em;
  h1 {
    color: var(--r12);
    text-align: center;
    text-wrap: wrap;
    font-family: Raleway;
    font-size: 3em;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1.92px;
  }

  button {
    background-color: var(--r7);
    color: var(--r1);
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--a4);
      color: var(--a12);
    }
  }
}

.hero {
  margin-top: calc(10px + 5vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  animation: appear 0.8s ease-in-out;

  img {
    opacity: 0;
    border-radius: 8px;
    width: 100%;
    -webkit-box-shadow: -4px -4px 16px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: -4px -4px 16px 0px rgba(0, 0, 0, 0.6);
    box-shadow: -4px -4px 16px 0px rgba(0, 0, 0, 0.6);
    animation: appear 0.8s ease-in-out 0.8s forwards;
  }
}

.mainTitle {
  font-size: calc(40px + 1.2vw);
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
  max-width: 825px;
  text-align: center;
  color: var(--r12);
}

.subTitle {
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  max-width: 600px;
  text-align: center;
  margin-top: 1em;
  color: var(--r12);
}

.button {
  margin-top: 3em;
  margin-bottom: 5.5em;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.42px;
  border: none;
  border-radius: 0.5em;
  background-color: var(--r7);
  color: var(--r1);
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--a4);
    color: var(--a12);
  }
}

.planosSection {
  display: flex;
  flex-direction: column;
  padding: 5.5em 5%;
  gap: 4em;

  .radioLabel:hover {
    background-color: var(--r12);
    color: var(--r1);
  }

  .radioInput {
    position: absolute;
    opacity: 0;
  }

  .radioInput:checked + .radioLabel {
    background-color: var(--r12);
    border-color: var(--c1);
    color: var(--c1);
  }

  .radioInput:focus + .radioLabel {
    outline: 2px solid var(--r12);
  }

  .radioInnerCircle {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 2px solid var(--r12);
    border-radius: 50%;
    margin-right: 0.5em;
    transition: border-color 0.2s;
    position: relative;
  }

  .radioLabel:hover .radioInnerCircle {
    border-color: rgb(233, 233, 233);
  }

  .radioInput:checked + .radioLabel .radioInnerCircle {
    border-color: var(--r1);
  }

  .radioInput:checked + .radioLabel .radioInnerCircle::after {
    content: "";
    display: block;
    width: 0.5em;
    height: 0.5em;
    background-color: var(--r1);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .planosCards {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2em;
  }

  .planoCard {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 2em;
    gap: 1em;

    &:first-child {
      border: 1px solid var(--r12);
      border-radius: 0.5em;
      color: var(--r12);

      .badge {
        background-color: transparent;
        color: var(--r12);
        border: 1px solid var(--r12);
      }

      .btn {
        background-color: transparent;
        border: 1px solid var(--r12);
        color: var(--r12);
      }
      .btn:hover {
        background-color: var(--r12);
        color: var(--r1);
      }
    }

    &:last-child {
      border-radius: 0.5em;
      background-color: var(--r10);
      color: var(--r1);

      .badge {
        background-color: transparent;
        color: var(--r1);
        border: 1px solid var(--r1);
      }

      .btn {
        background-color: transparent;
        color: var(--r1);
        border: 1px solid var(--r1);
      }
      .btn:hover {
        background-color: var(--r1);
        color: var(--r10);
      }
    }
  }

  .badge {
    font-family: Lato;
    font-size: 0.75em;
    font-weight: 400;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    display: inline-block;
  }

  .btn {
    width: 100%;
    padding: 1em 2em;
    font-family: Raleway;
    font-size: 1em;
    font-weight: 500;
    transition: all 0.3s;
    border-radius: 0.5em;
  }

  .preco {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;

    h1 {
      font-family: Raleway;
      font-size: 4em;
      font-style: normal;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 1.2px;
      font-variant-numeric: lining-nums proportional-nums;
    }
  }

  .features {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1em;
    align-items: flex-start;

    li {
      position: relative;
      padding-left: 1.5em;
    }

    li::before {
      content: "🪐";
      position: absolute;
      left: 0;
      font-size: 1em;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  width: 100%;
}

.headerTabs {
  display: flex;
  gap: 0.5em;
}

.radioLabel {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0.5em 1em;
  background-color: transparent;
  border: 1px solid var(--r12);
  border-radius: 8px;
  color: var(--r12);
}

.headerTitle {
  h2 {
    color: var(--r12);
  }
  p {
    color: var(--r12);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    width: fit-content;
  }
}

.beneficios {
  padding: 0 5%;
  margin-top: 90px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    color: var(--r12);
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 1.2px;
    text-align: center;
  }

  .tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    background-color: var(--r7);
    padding: 20px;
    border-radius: 0.5em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .tab {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;  

    button {
      padding: 0.5em 1em;
      background-color: var(--r7);
      font-family: "Lato", sans-serif;
      border-radius: 0.5em;
      color: var(--r1);
      border-radius: 0.5em;
      border: none;
      outline: none;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--r9);
      }
    }

    button.active {
      background-color: var(--r1);
      color: var(--r7);
    }
  }

  .tabContent {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .tabTitle {
    font-family: "Raleway", sans-serif;
    color: var(--r1);
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: 300;

    b {
      font-weight: 500;
    }
  }

  .textWrapper {
    text-align: center;
    color: var(--r1);
  }

  .tabText {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 10px;
  }
}

@media only screen and (max-device-width: 600px) {
  .planosCards {
    flex-wrap: wrap;
  }
}

@media only screen and (max-device-width: 830px) {
  .tabContent {
    flex-direction: column;
    align-items: center;
  }
}
