body {
    background-color: #C6C2CC;
    
}

.containercaixas{
   display: flex;
   width: auto;


}
.caixas {

    width: 224px;
    border:solid 2px #77747A ;
    border-radius: 8px;
    height: 94px;
    margin-left: 30px;
    justify-content: center;
   
 
 
}

.conteudocaixa{
    margin-left: 15px;
}

.titulocaixa {
    font-family:"Raleway", sans-serif ;
    color: #07001B;
    font-weight: 600;
    margin-top: 8px;
}


.desctitulo {

    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #3C3A3D;
    line-height: 14px;
    margin-top: 8px;
}
ul{
    list-style: none;

}

li {
    display: inline;
    margin-left: 6px;
}