/* #F3EDFA, #C6C2CC, #F2E5FF, #07001B, #E0C1FF, #8F3AE4, #511ABE */

button {
  outline: none;
  border: none;
}

.modal {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--c1);
  border: 1px solid var(--c9);
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.268);
  padding: 20px; /* Adicionando padding para melhorar o espaçamento interno */
  z-index: 100;
}

.modal h1 {
  color: var(--c12);
  font-family: Raleway;
  font-size: 1.75rem;
  font-weight: 500;
  margin: 0;
}

.modal {
  font-family: Raleway;
  font-size: 1.25rem;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background: #f3edfa;
  padding: 2em 10em;
  border-radius: 20px;
}

.close {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #07001b;
  padding: 5px 15px 10px 15px;
  border-radius: 10px;
  color: #fff;
}

.check {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #8f3ae4;
  padding: 5px 15px 10px 15px;
  border-radius: 10px;
  color: #fff;
}

.logout {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #8f3ae4;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}

.userPic {
  background-color: #fff;
  padding: 1.5em;
  border-radius: 100%;
}

.toggleThemeDark {
  background-color: #fff;
  padding-right: 5em;
  border-radius: 9999px;
}

.toggleThemeDark svg {
  background-color: #8f3ae4;
  padding: 10px;
  animation: toggleThemeDark 400ms ease forwards;
  border-radius: 100%;
}

.toggleThemeLight {
  background-color: #fff;
  padding-left: 5em;
  border-radius: 9999px;
}

.toggleThemeLight svg {
  background-color: #8f3ae4;
  animation: toggleThemeLight 400ms ease forwards;
  padding: 10px;
  border-radius: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapper h1 {
  color: var(--c12);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.wrapper p {
  color: var(--c12);
  font-family: Raleway;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.btns {
  display: flex;
  gap: 8px;
  margin-top: 16px; /* Adicionando margem superior para separar os botões */
}

.btn {
  padding: 8px 16px; /* Aumentando o padding para melhorar a aparência dos botões */
  border-radius: 4px; /* Adicionando borda arredondada aos botões */
  color: var(--c12);
  background-color: var(--c2);
  font-size: 14px; /* Aumentando o tamanho da fonte dos botões */
  cursor: pointer; /* Mudando o cursor para indicar que é clicável */
  transition: background-color 0.3s ease; /* Adicionando uma transição suave para a mudança de cor de fundo */
}

.btn:hover {
  background-color: var(--c3);
}

.excluir {
  background-color: var(--vermelho);
  color: var(--c1);
}

.excluir:hover {
  background-color: var(--vermelho);
}

@keyframes toggleThemeLight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100px);
  }
}

@keyframes toggleThemeDark {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
}
