.modal {
  border-radius: 0.5rem;
  background: var(--c1);
  border: 1px solid var(--c12);
  height: fit-content;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.newList {
  display: flex;
  gap: 0.25rem;
  padding: 0.5rem;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--c1);
  border: 1px solid var(--c12);
}

.inputName {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  color: var(--c12);
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
}

.inputName:focus {
  outline: none;
}

.btns {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.btn {
  padding: 0.5rem 0.5rem;
  text-align: center;
  gap: 0.25rem;
  width: 100%;
  color: var(--c12);
  font-family: Raleway;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: var(--c1);
  border: 1px solid var(--c12);
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: var(--r7);
  color: var(--c1);
  border: none;
}

.btn.active {
  background-color: var(--r7);
  color: var(--c1);
  border: none;
}

.items {
  width: 100%;
  padding: 0.25rem 0px;
  display: flex;
  justify-content: space-evenly;

  svg {
    cursor: pointer;
  }
}