.button {
  outline: none;
  outline: none;
}

.modal {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--c1);
  border: 1px solid var(--c9);
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.268);
  padding: 20px;
  z-index: 200;
}

.modal h1 {
  color: var(--c12);
  font-family: Raleway;
  font-size: 1.75rem;
  font-weight: 500;
  margin: 0;
}

.modal {
  font-family: Raleway;
  font-size: 1.25rem;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: #f3edfa;
  padding: 2rem 6rem;
  border-radius: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.top h1 {
  font-size: 1.5rem;
  color: var(--c12);
}

.close {
  background-color: #07001b;
  padding: 0.75rem;
  display: flex;
  place-items: center;
  border-radius: 0.5rem;
  color: #fff;
}

.check {
  background-color: #8f3ae4;
  padding: 0.75rem;
  display: flex;
  place-items: center;
  border-radius: 0.5rem;
  color: #fff;
}

.avatars {
  display: flex;
  gap: 1rem;
  margin: 4rem 0;
}

.avatarIcon {
  background-color: #e0c1ff;
  border: 1px solid #8f3ae4;
  border-radius: 100%;
  padding: 1rem;
}

.avatarIcon.active {
  background-color: #8f3ae4;
}

.avatarIcon img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}

body[data-theme="dark"] .modal {
  background: var(--r12);
}

body[data-theme="dark"] .modalContent {
  background: var(--r12);
}

body[data-theme="dark"] .top h1 {
  color: var(--r1);
}

body[data-theme="dark"] .close {
  background-color: var(--r1);
  svg {
    fill: var(--r12);
  }
}

body[data-theme="dark"] .avatarIcon {
  background-color: #e0c1ff;
  border: 1px solid #8f3ae4;
  border-radius: 100%;
  padding: 1rem;
}

body[data-theme="dark"] .avatarIcon.active {
  background-color: #8f3ae4;
}

body[data-theme="dark"] .avatarIcon img {
  border-radius: 100%;
}