@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: Lato, Raleway, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --c1: #f3edfa;
  --c2: #dfdae5;
  --c3: #c6c2cc;
  --c4: #B3AEB8;
  --c5: #9F9BA3;
  --c6: #8B888F;
  --c7: #77747a;
  --c8: #636166;
  --c9: #4f4e52;
  --c10: #3c3a3d;
  --c11: #282729;
  --c12: #141314;
  --r1: #f2e5ff;
  --r2: #e0c1ff;
  --r3: #b469ff;
  --r7: #511abe;
  --r9: #2b027e;
  --r10: #20005f;
  --r11: #0e0038;
  --r12: #07001b;
  --a2: #fcffc1;
  --a3: #f7ff5d;
  --a4: #e7f042;
  --a12: #151300;

  --azul-royal: #1c72ff;
  --azul-lavanda: #86b4ff;
  --azul-piscina: #2cecff;
  --azul-cerceta: #00b5c7;
  --verde-floresta: #1b9d00;
  --verde-neon: #2cff00;
  --mostarda: #ffe100;
  --abobora: #ff9f2c;
  --coral: #ff8282;
  --vermelho: #df1515;
  --rosa-neon: #ec1eec;
  --rosa: #ff8cff;
  --roxo-lavanda: #9b8bff;
  --roxo-royal: #794dff;
  --cinza: #acaaae;
  --preto: #141414;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
