:root {
  --red: #f54e4e;
  --green: #4aec8c;
}

.pagePomo {
  display: flex;
}

.pomoBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.button {
  background-color: transparent;
  color: var(--c5);
  border: 0;
  display: inline-block;
  width: 60px;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform:capitalize ;
}