.slider {
    height: 40px;
    border: 2px solid var(--r7);
    border-radius: 20px;
}

.thumb {
    background-color: var(--r7);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.sliderGreen {
    border: 2px solid var(--r9);
    height: 40px;
    border-radius: 20px;
    .thumb {
        background-color: var(--r9);
    }
}