.alert {
  position: absolute;
  top: 2em;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: var(--vermelho);
  border-radius: 0.5em;
  padding: 0.5em;
  color: var(--c1);
  font-weight: 600;
  cursor: pointer;
}